table, th, td {
    border: 3px solid #000;
    border-radius: 8px;
    background: rgb(41, 136, 173);
}

th {
    background: rgb(117, 198, 225);
    padding: 20px 4px;
    border: 3px solid #000;
    border-radius: 8px;
    font-size: 28px;
}

.no {
    background: rgb(214, 212, 124);
    border: 3px solid #000;
    font-weight: bold;
    border-radius: 8px;
    font-size: 20px;
}

.brief {
    background: rgb(190, 203, 234);
    border: 3px solid #000;
    font-weight: 600;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.3s ease-in-out 0.1s;
}

.summary:hover {
    background: rgb(235, 142, 162);
    transform: translateY(3px);
    transition: all 0.3s ease-in-out 0.1s;
}

.no:hover {
    background: rgb(131, 220, 167);
}

.brief:hover {
    background: rgb(235, 142, 162);
    transform: translateY(3px);
    transition: all 0.3s ease-in-out 0.1s;
}


.summary {
    background: rgb(136, 200, 191);
    padding: 20px;
    border: 3px solid #000;
    border-radius: 8px;
    transition: all 0.3s ease-in-out 0.1s;

}

.row {
    border: 3px solid #000;
}